:root {
  --main-text-color: #212121;
  --second--text-color: #757575;
  --main-bcg-color: #ffffff;
  --main-herofooter-color: #2f303a;
  --secondary-bcg-color: #f5f4fa;
  --acent-color: #2196f3;
  --white-color: #ffffff;
}
body {
  color: #212121;
  font-family: roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
.list {
  list-style: none;
}
/* header */
.logo {
  font-family: raleway, sans-serif;
  color: var(--main-text-color);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-span {
  font-family: raleway, sans-serif;
  color: var(--acent-color);
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.nav .link {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.nav .link.current {
  color: var(--acent-color);
}
.nav .link:hover,
.nav .link:focus {
  color: var(--acent-color);
}

.nav-auth .link {
  color: var(--second--text-color);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.nav-auth .link:hover,
.nav-auth .link:focus {
  color: var(--acent-color);
}
/* hero */
.hero-title {
  color: var(--white-color);
  background-color: var(--main-herofooter-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  color: var(--white-color);
  background-color: var(--main-herofooter-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
/* Section - feature */
.feature-list .title {
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.feature-list p {
  color: var(--second--text-color);
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/* section what we do */
.section .what-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
}

/* section team */
.section-team {
  background-color: var(--secondary-bcg-color);
}
.section-team .team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
}
.section .team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.section .team-spec {
  font-size: 16px;
  color: var(--second--text-color);
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* section footer */
.footer {
  background-color: var(--main-herofooter-color);
}
.logo-footer {
  color: var(--white-color);
  font-size: 26px;
  font-family: raleway, sans-serif;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-ul {
  font-size: 14px;
  font-style: normal;
}
.footer-address {
  color: var(--white-color);
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-address:hover,
.footer-address:focus {
  color: var(--acent-color);
}
.footer-email {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-email:hover,
.footer-email:focus {
  color: var(--acent-color);
}

.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-tel:hover,
.footer-tel:focus {
  color: var(--acent-color);
}

/* porfolio section button */
.section-button {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.section-project h2 {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}
.section-project p {
  font-size: 16px;
  line-height: 1.9;
  color: var(--second--text-color);
  letter-spacing: 0.03em;
}
/* основной цвет текста #212121  */
/* вторичный цвет  #757575 */
/* цвет основоной #FFFFFF */
/* цвет  герой и футер #2F303A */
/* цвет белый #FFFFFF */
/* цвет акцент #2196F3 */
